Port 2222
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /sshkeys/ssh_host_rsa_key
HostKey /sshkeys/ssh_host_ed25519_key

PidFile /tmp/sshd.pid

PermitRootLogin no
StrictModes yes
MaxSessions 20

PubkeyAuthentication yes
AuthorizedKeysFile	/home/borg/.ssh/authorized_keys

LogLevel INFO

PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTTY no
PrintMotd no
PermitTunnel no
Subsystem	sftp	/bin/false
